@import url("header.css");
body {
    background-color: rgba(189, 84, 14, 0.649);
}
.container img{
    max-width:100px;
    max-height: 80px;
    width:40%;
    height: 40%;
}
h1 {
    color:rgba(145, 55, 45, 0.496);
} 

h2 {

    color:rgba(41, 52, 117, 0.501);
    
}
footer{
    background-color:#191717ec;
    color:antiquewhite;}