@import url("style/header.css");
body {
    background-color: rgb(160, 77, 22);
}
.container img{
    max-width:100px;
    max-height: 80px;
    width:auto;
    height: auto;
    width:40%;
    height: 40%;
}
h1 {
    color:rgb(145, 55, 45);
}

h2 {

    color:rgb(41, 52, 117);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;}