@import url("style/header.css");
body {
    background-color: rgb(58, 40, 17);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(37, 110, 35);
}

.h2 {

    color:brown;
    
}